 iframe#webpack-dev-server-client-overlay {
     display: none !important
 }

 ::-webkit-scrollbar {
     width: 5px;
 }

 ::-webkit-scrollbar-track {
     background: white;
 }

 ::-webkit-scrollbar-thumb {
     background: #800080;
     border-radius: 1rem;
 }

 .container_fl {
     background-color: inherit;
     height: 100%;
     width: 92%;
     margin-left: auto;
     margin-right: auto;
 }