.image-container,
.image-container_one {
    height: 20rem;
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    border-radius: 8px;
}

.panolens-video {
    position: relative;
    width: 100%;
    border: 1px solid #fff;
    display: block;
    overflow: hidden;
    border-radius: 8px;
}

.video-container_one {
    height: 20rem !important;
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 8px;
}

canvas {
    height: inherit !important;
    height: inherit !important;
}